#cookie {
  background: url('../../assets/images/ornament.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .head-text {
    padding-top: 6rem;
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    text-shadow: -1px 0 black;

    @media screen and (max-width: 900px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3rem;
    }
  }

  .info-text, a {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-justify: inter-word;
    color: var(--white-color);
    text-shadow: -1px 0 black;
    line-height: 1.5;
    margin: 40px 3rem 15px;

    @media screen and (max-width: 900px) {
      font-size: 1.6rem;
      margin: 40px 70px 10px;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.25rem;
      margin: 20px 10px 10px;
    }
  }

  img {
    width: 25rem;
  }

  .footer {
    a {
      margin: 0;
    }
  }
}