@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
:root {
  --primary: #0C6EFD;
  --secondary: #0b6804;
  --trinary: #1735ac;
  --quad: #000000;
}
