#home {
  background: url('../../assets/images/santarock1.jpg');
  background-size: cover;
  //background-position: center;
  min-height: 100vh;

  .background {
    background-color: rgba(49, 49, 49, 0.35);
    min-height: 100vh;
  }

  img {
    padding-top: 9rem;
    justify-content: center;
    height: 50vh;
  }

  .info-text {
    font-size: 2.15rem;
    font-weight: 800;
    text-align: center;
    text-justify: inter-word;
    color: var(--gold-color);
    padding: 1rem;
    text-shadow: -2px 0 black;
    line-height: 1.5;
    margin: 20px 15rem 15px;

    @media screen and (max-width: 900px) {
      font-size: 1.6rem;
      margin: 40px 70px 10px;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.25rem;
      margin: 20px 10px 10px;
    }

    a {
      font-size: 2rem;
      font-weight: 300;
      color: var(--white-color);
      text-shadow: -3px 0 var(--darkRed-color);
      text-decoration: none;

      @media screen and (max-width: 900px) {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 1.25rem;
      }

      &:hover {
        background-color: var(--darkRed-color);
        padding: 8px;
        border-radius: 5px;
      }
    }
  }

  .green-card {
    color: var(--white-color);
    background-color: var(--darkGreen-color);
    border: 25px;
    border-style: double;
    border-color: var(--white-color);
    padding: 1rem;
    text-shadow: -3px 0 var(--darkRed-color);
  }

  .red-card {
    color: var(--white-color);
    background-color: var(--darkRed-color);
    border: 25px;
    border-style: double;
    border-color: var(--white-color);
    padding: 1rem;
    text-shadow: -3px 0 var(--darkGreen-color);
  }

  h3 {
    font-family: 'Mountains of Christmas', cursive;
    margin: 0.75rem;
    padding: 0.25rem 1rem;
    color: var(--white-color);
    text-shadow: -5px 0 var(--darkRed-color);
    border-bottom: 5px;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
  }

  .funky {
    color: var(--white-color);
    text-shadow: -5px 0 var(--darkGreen-color);
    border-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
  }

  .sponsor-logo {
    width: 5rem;
    height: auto;
    border: 5px solid;
  }

  .sponsor-links {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    a {
      font-size: 1.9rem;
      font-family: 'Mountains of Christmas', cursive;
      font-weight: bold;
      text-decoration: none;
      background-color: var(--white-color);
      color: var(--primary-color);
      text-shadow: -3px 0 var(--darkRed-color);
      margin: 2rem;
      padding: 3rem;
      border-radius: 50%;
      width: 20rem;
      text-align: center;

      &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
      }
    }
  }
}
