@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-base: "Old Standard TT", serif;

  --primary-color: #4A8764;
  --secondary-color: #BD3E2F;
  --green-color: #44803F;
  --darkGreen-color: #146152;
  --darkRed-color: #832831  ;
  --black-color: #030303;
  --white-color: #E9E3C9;
  --darkBlue-color: #235E6F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}